html {
    font-size: 10px;
}

body {
    font-family: Montserrat;
    font-family: 1.6rem;
    background-color: #E8EFFA;
}

.layout {
    width: 100%;
    min-height: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
}